/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*imports*/

/*responsive*/
@media screen and (max-width: 780px)
{
	.brandlogo{ margin-left: 90px !important; }
	.navbar3 .navbar-nav{ margin-left: 0 !important }
	.hot{ font-size: 8px !important; left: 0 !important; top: -10px !important }
	.redd .shop-bag a .bag-counter{ margin: 45px 200px !important; }
	.top-search{ left: 345px !important; }
	#products{ width: 100% !important; }
	.cardss img{ width: 210px !important; }
	.no-wrap{ padding: 0 !important; }
	.owl-carasousel .owl-nav button{ text-align: center !important; }
	.owl-carousel .owl-stage-outer{ height: auto !important; }
	.owl-carousel .owl-prev, .owl-carousel .owl-next{ text-align: center !important; margin-left: 0px !important; font-size: 80px !important; }
	.owl-stage{ width: 100%; }
	.blog-btn{ margin-left: 0px !important; }
	.bg-light1{ background-color: #fff !important; }
	.nav1{ display: none !important; }
	.btnn{ right: 40px !important; }
	.frm .inp{ margin-left: 0 !important; }
	.products{ width: 480px !important; }
  	.card{ margin-left: 80px !important; }
	.cardss img{  padding-right: 0 !important; }
	.card-body a{ margin-left: 75px !important; }
	.right-middle{ right: 0 !important; top: 0 !important; padding: 10px 15px 10px 0; }
	.right-middle h2{ font-size: 20px !important; }
	.right-middle p{ font-size: 10px !important; }
	.right-middle button{ margin: 0 !important; font-size: 8px !important; }
}
/*responsive*/

/*css*/
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html
{
  scroll-behavior: smooth;
}
body
{
	font-family: 'Lato', sans-serif;
}
.nav1
{
	height: 40px;
	border-bottom: 1px solid;
	border-color: rgba(0,0,0,0.1);
}
.navbar
{
	position: relative;

}
.bg-light1
{
	background-color: #f2f2f2 !important;
}
.bg-light
{
	background-color: #fff !important;
}
.social-medias i
{
	padding-right: 15px;
	font-size: 14px;
	text-decoration: none;
	color: #000;
}
.topbar
{
	padding: 0 30px;
}
.navbar-nav
{
	font-weight: 700;
}
.navbar-light .navbar-nav .nav-link
{
	color: #000 !important;
	font-size: 13px;
	letter-spacing: 1px;
	transition: 0.9s;
}
.navbar-light .navbar-nav .nav-link:hover{  }
.lang a
{
	font-size: 13px;
	letter-spacing: 1px;
	opacity: 0.6;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}
.brandlogo
{
	margin-left: 80px;
}
.legacy
{
	width: 175px;
	height: 44px;
}
.blank
{
	white-space: 10px;
}
.nav-link i
{
	font-size: 30px;
}
.nav-link span
{
	font-size: 14px;
}
.navbar-brand img
{
	width: 175px;
	height: 44px;
}
.form-inline button
{
	height: 35px;
	background: #f2f2f2;
	float: right;
  	padding: 6px 10px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid rgba(0,0,0,0.4);
}
#cart-count
{
	opacity: 0.6;
}
.cart-text
{
	opacity: 0.6;
}
.navbar input
{
	height: 35px;
	border-top: none;
	border-left: none;
	border-bottom: 2px solid rgba(0,0,0,0.4);
}
.nav2
{
	height: 100px;
	border-bottom: 1px solid;
	border-color: rgba(0,0,0,0.1);
}
.col ul li a
{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px !important;
	line-height: 20px !important;
	margin-left: 0;
	opacity: 0.7;
}
.text1 a
{
	color: #000 !important;
}
.navbar3 nav ul li
{
	margin-right: 23px;
}
.navbar3 .redd li
{
	margin-right: 16px !important;
}
.nav1 .navbar-nav{
	margin-left: 270px !important;
}
.redd .navbar-nav
{
	margin-left: 90px !important;
}
.shop-bag
{
	display: none;
}
.redd .shop-bag
{
	display: block;
	margin-left: 100px;
	position: relative;
}
.redd .shop-bag a .bag-counter
{
	content: '';
	position: absolute;
	background: #cc0000 none repeat scroll 0 0;
	color: #ffff;
	font-size: 10px !important;
	right: 8px;
	margin-top: 45px;
	padding: 0 5px;
	border-radius: 60px;
	font-weight: 300;
	position: absolute;
	top: -18px;
	z-index: 20;
	font-family: 'Montserrat', sans-serif;
}
.hot
{
	content: '';
	background: #cc0000 none repeat scroll 0 0;
	color: #fff;
	font-size: 10px !important;
	left: 50%;
	padding: 0 5px;
	font-weight: 300;
	position: absolute;
	top: -18px;
	z-index: 20;
	font-family: 'Montserrat', sans-serif;
}
.hot:before
{
	border-color: #cc0000 transparent #fff;
	border-style: solid;
	border-width: 6px 4px 0 0;
	bottom: -6px;
	content: "";
	left: 6px;
	position: absolute;
}
.carousel-item img
{
	position: relative;
}
.right-middle
{
	position: absolute;
	text-align: left;
  	color: #000;
  	top: 130px;
  	right: 200px;
}
.right-middle h2
{
	font-size: 36px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	line-height: 1;	
}
.right-middle p
{
	font-size: 14px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	opacity: 0.6;
}
.btn-clr
{
	background: transparent;
}
.btn
{
	border: 1px solid #000;
	border-radius: 0;
	font-size: 13px !important;
	font-weight: 500;
	letter-spacing: 1px;
}
.top-inp
{
	position: relative;
}
.top-search
{
	left: 220px;
	background: rgba(0,0,0,0.7) !important;
	color: #fff;
	position: absolute;
	right: 0;
	transition: 0.9s;
	border-bottom: rgba(0,0,0,0.7) !important;
}
.top-search:hover
{
	background: #928a8a !important;
	color: #000;
}
.nav-item .dropdown
{
	transition: 0.9s;
}
.btn-clr:hover
{
	background: #000;
	color: #fff;
	transition: 0.9s;
}
.navbar-light .navbar-nav .nav-link
{
	font-weight: 400;
}
.navbar-light .navbar-nav .nav-l
{
	font-weight: 600;
}
:root 
{
  --animate-delay: 0.3s;
}
.container .col img
{
	display: none;
}
.redd 
{
  background-color: #f2f2f2 !important;
  width: 100%;
  padding: 20px 0;
  position: fixed;
  z-index: 12;
  top: 0;
  transition: 0.9s;
  margin: 0 auto;
}
.redd .container .col img
{
	display: block;
	width: 175px;
	height: 44px;
}
.dropdown-menu
{
	display: none;
	transition: all 0.5s ease-in-out;
}
.dropdown:hover .dropdown-menu
{
	display: block;
}
.down 
{
    padding: 5px;
    background-color: #4b3e3d;
    opacity: 0.6;
    position: fixed;
    bottom: 100px;
    right: 10px !important;
    display: none;
    z-index: 12;
 }

.down i 
{
    font-size: 25px;
    color: #fff;
}
.nav3
{
	left: 0;
	right: 0;
}
.protext
{
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

.avatar img
{
	width: 120px !important;
	height: 120px !important;
}
.h1-responsive
{
	font-size: 16px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}
.h5text
{
	font-family: "Lato", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
}
.h6text
{
	opacity: 0.6;
}
.left span, .right span
{
	color: #000;
}
.para
{
	opacity: 0.6;
}
.lasth1
{
	font-family: "Montserrat", sans-serif;
}
.lasth1 h1
{
	font-weight: 600;
	font-size: 36px;
	text-align: center;
}
.lasth1 p
{
	font-size: 12px;
	line-height: 28px;
	text-align: center;
	font-weight: 600;
	opacity: 0.6;
}
.lastdiv h4
{
	font-weight: 700;
	font-size: 16px;
}
.lastdiv ul li
{
	text-align: left;
	list-style: none;
}
.lastdiv ul li a
{
	text-decoration: none;
	color: #000;
	line-height: 35px;
	text-align: left;
	opacity: 0.6;
	font-size: 14px;
	transition: 0.9s;
}
.lastdiv ul li a:hover
{
	opacity: 1;
}
.copyright
{
	text-align: center;
	opacity: 0.6;
	font-size: 15px;
	letter-spacing: 1px;
}
/* Preloader Starts */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 4px solid #000;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #000;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
/* Preloader Ends */
#subs .container .row .subs form input
{
	width: 600px !important;
	position: relative;
	margin-left: 260px;
	height: 60px !important; 
}
.btnn
{
	right: 300px;
	width: 120px;
	position: absolute;
	height: 35px !important;
	background: #000 !important;
	color: #fff;
	border: none !important;
	transition: 0.9s;
}
.btnn:hover
{
	color: #000 !important;
	background: #928a8a !important;
}
.subs h3
{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 18px;
}
.subs p
{
	font-family: "Lato", sans-serif;
	font-size: 14px;
	opacity: 0.6;
	font-weight: 600;
}
.down
{
	transition: 0.9s;
}
.down:hover
{
	background: #d74747 !important;
}
.social-medias a
{
	transition: 0.9s;
}
.social-medias a:hover
{
	opacity: 0.5;
}
.card-title
{
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 600;
}
.card-title a
{
	text-decoration: none;
	color: #000;
	transition: 0.9s;
}
.card-title a:hover
{
	color: #928a8a;
}
.card-text
{
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 600;
	opacity: 0.6;
}
.btn-prime
{
	background: #000;
	color: #fff;
	transition: 0.9s;
}
.btn-prime:hover
{
	background: #928a8a;
	color: #000;
}
.blog-btn
{
	margin-left: 900px;
	height: 35px !important;
	transition: 0.9s;
}
.blog-btn:hover 
{
	color: #fff;
	background: #928a8a;
}
.blog-btn:hover a
{
	color: #fff;
}
.blog-btn a
{
	font-size: 13px !important;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #000;
	text-decoration: none;
	transition: 0.9s;
}
.cardss img
{
	transition: 0.9s;
}
.cardss img:hover
{
	scale: 0.95;
	-webkit-box-shadow: -6px 11px 33px -2px rgba(0,0,0,0.59);
	-moz-box-shadow: -6px 11px 33px -2px rgba(0,0,0,0.59);
	box-shadow: -6px 11px 33px -2px rgba(0,0,0,0.59);
}
.btn-primes
{
	background: #fff;
	color: #000;
	transition: 0.9s;
}
.btn-primes:hover
{
	background: #000;
	color: #fff;
}
.card-body a
{
	margin-left: -5px !important;
}
.card-titles
{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.card-texts
{
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 700;
	font: bold;
}
.price-text
{
	text-decoration: line-through;
	font-size: 12px;
}
.price-from
{
	font-family: "Lato", sans-serif;
	font: bold;
	font-style: italic;
	font-size: 15px;
}
.card img
{
	transition: 0.9s;
}
.card img:hover
{
	scale: 1.03;
	-webkit-box-shadow: -1px 0px 47px -1px rgba(0,0,0,0.43);
	-moz-box-shadow: -1px 0px 47px -1px rgba(0,0,0,0.43);
	box-shadow: -1px 0px 47px -1px rgba(0,0,0,0.43);
}
.owl-prev, .owl-next
{
	margin-left: 20px !important;
	font-size: 40px !important;
}
  iframe {
    margin-left: 25px !important;
    height: 300px !important;
  }

  .formdata {
    padding-top: 20px;
  }

  .formdata form input {
    width: 300px !important;
    border-color: #db4b4b !important;
  }

  .formdata form .emailform {
    width: 350px !important;
  }

  .formdata form .messageform {
    width: 400px !important;
    border-color: #db4b4b !important;
  }
  .forminfo {
  color: #67696c;
}

/*css*/